<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">        
    <title>Document</title>
</head>
<body>
    <div>
        <h1>All about plants!</h1>
    </div>
    <div class = "container">
        <div class="buttons">
            <form action="/viewpage" method="post">
                <button type="submit" name="type" value="random">Random plant!</button>
            </form>
            <form action="/viewpage" method="post">
                <button type="submit" name="type" value="indian">Indian plant!</button>
            </form>
        </div>
    </div>
    <div>
        <p>Select desired option!</p>
    </div>
</body>
</html>