<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/main.css">
    <title>Document</title>
</head>
<body>
    <div class="heading">
        <h1>All about plants!</h1>
    </div>

    <div class = "container">
        <div class="image-container">
            <img src="../public/images/plant1.jpg">
        </div>
        <div>
            <p>
                Details about this plant!
            </p>
        </div>        
        <div style="flex-direction: row;" class="buttons">
            <button>Random plant!</button>
            <button>Indian plant!</button>
        </div> 
    </div>

    
</body>
</html>